<div class="row">
  <div class="large-6">
    <h1 class="title">Add a Review</h1>
    <%= form_for [@restaurant, @review] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    </br>
    <%= f.label :rating %>
    <%= f.text_field :rating %>

    <%= f.submit "Add Review", class: "button tiny" %>

    <% end %>

    <%= link_to 'All Listings', root_path, class: "button tiny" %>
  </div>
</div>
